body {
	background-color: #549ccc;
}
/*Estilo para el título principal */
.main-title {
  color: white;
  background: #005BBB;
  border-radius: 3px;
  font-family: 'PT Sans Narrow';
  font-size: 40px;
}
/*Estilo para el formulario que está oculto*/
.unseen {
	display:none;
}
/*Estilo para el formulario que está visible*/
.show {
	display:block;
}
/*Estilo para el formulario y todo esté alineado al centro*/
.text-center {
	text-align: center;
}
/*Estilo para que la imagen sea responsive*/
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/*Estilo para los label que dan instrucciones*/
.instruction {
	font-style: italic;
	font-size: 20px;
	color: #DFD7B9;
}
/*Estilo para los botones*/
button {
	width:auto;
	font-weight: 600;
	font-size: 16px;
	color: #CACFD2;
	padding: 15px 80px 15px 80px;
	/*background-color: rgb(52, 152, 219);*/
	background-color: #505054;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 30px;
	text-align: center;
}
/*Estilo para los h1*/
h1 {
	font-family: 'Bitter';
}
/*Estilo para los h2*/
h2 {
	font-family: 'Yanone Kaffeesatz';
	font-size: 30px;
	text-align: center;
	/*width: 500px; */
	margin: 50px 200px 50px 200px;
}
/*Estilo para los h3*/
h3 {
	font-family: 'Yanone Kaffeesatz';
	font-size: 25px;
	font-style: italic;
	text-align: center;
	margin: 20px 200px 20px 200px;
}
/*Estilo para las imágenes*/
img {
	margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 400px;
}
/*Estilo para los label*/
label {
	font-family: 'Catamaran';
	font-size: 23px;
	height: 20px;
	margin-top: 20px;
	margin-left: 30px;
}
/*Estilo para los input*/
input {
	background-color: #d8ecf7;
	border: 2px solid #0D5D89;
	border-radius: 2px;
	font-family: 'Ubuntu';
	font-size: 20px;
	margin-bottom: 80px;
	width: auto;
	height: 50px;
	margin-top: 20px;
	margin-left: 30px;
}
/*Estilo para el lugar donde saldrá el resultado*/
#msg-answer {
	font-size: 32px;
	font-family: 'Dosis';
	font-weight: bold;
	border: 1px solid white; 
	border-radius: 4px;
}